/* Tailwind setup */
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Google mui icons */
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0';

/* Full screen layout */
html,
body {
	height: 100%;
	width: 100%;
	background: black;
}

/* Keep WebGL transparent/clear fallback from showing white */
:global(canvas) {
	background: black;
}
